.button {
  font: inherit;
  font-weight: bold;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: var(--primary-color);
  color: white;
}

.button_big {
  width: 9.4rem;
  min-width: 3.4rem;
  height: 2.4rem;
  font-size: 1.25rem;
}

.button_small {
  width: 6rem;
  height: 1.8rem;
  font-size: 0.8rem;
}
